body {
    background-color: #f6f6f6;
    width: 100%;
    position: relative;}

/*Font*/
.label-font{
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #000;}

.font-helvetica-small{
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;}

.font-helvetica-medium{
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;}

.bold{
    font-weight: bold;}

h1, h2, h3 ,h4{
    font-family: Helvetica, sans-serif;
    outline: none;}

h1{
    font-size: 22px;}

h2{
    font-size: 30px;
}

input{
    color: #000;
}

.compareTo{
    color: #bf7878;}


.header-numbers{
    font-size: 1.8em;}

#dateInHeaderCompareTo{
    font-weight: normal;
}

tbody th{
    font-weight: normal;
}


/*Top Menu*/
.menu-link-top span,
.menu-link-top .fa{
    color: #FFF;}

.navbar-default{
    background-color: #6f2c3f;}

.navbar-nav > li > a {
    padding-top: 22px;
    padding-bottom: 22px;}

.menu-button-top{
    width: 11.9em;
    text-align: center;}

#homeButton{
    width: 14.5em;}

.menu-button-top a:hover,
.menu-button-top a:focus {
    outline: none;
    background-color: #b07c83 !important;}

.navbar-fixed-top .navbar-nav .active > a,
.navbar-fixed-top .navbar-nav .active > a > span,
.navbar-fixed-top .navbar-nav .active > a > .fa,
.navbar-fixed-top .navbar-nav .active > a:focus {
    color: #000;
    background-color: #b07c83;}

.navbar-fixed-top{
    border: none;}

.navbar-toggle {
    float: left;
    margin-right: 0px;
    margin-left: 30px;}

/*Side Menu*/
.caret{
    margin-right: 12%;
    vertical-align: top;
    margin-top: 4%;}

.sidebar .navbar-nav .active > .sidemenu-link{
    color: #000;
    background-color: #e1e1e1;}

.side-nav {
    position: fixed;
    top: 65px;
    left: 225px;
    width: 14.5em;
    margin-left: -225px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: #ffffff;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;}

.side-nav li a {
    width: 225px;
    color: black !important;}

.side-nav li a:hover,
.side-nav li a:focus {
    outline: none;
    background-color: rgba(132, 143, 186, 0.7) !important;}

.side-nav li ul {
    padding: 0;}


/*Sub Side Menu*/
.sub-side-nav li{
    height: 3em;}

.sub-side-nav li a{
    padding-top: 0;
    padding-bottom: 0;
    display: inline-block;
    height: 3em;
    width: 205px;}

.sub-side-nav li a span {
    vertical-align: top;
    line-height: 3em;
    color: #000;}

.sidebar-line{
    margin: 0 1em 0 0;
    padding: 0;
    display: inline-block;
    height: 3em;
    width: 0.2em;
    background-color: #e1e1e1;}

.sidebar-dot{
    margin: 0 0.3em 0 -1.60em;
    display: inline-block;
    height: 1em;
    width: 1em;
    background-color: #e1e1e1;
    margin-bottom: 1em;
    border-radius: 50%;}

.sidebar .navbar-nav .active > .sub-sidemenu-link{
    color: #000;
    background-color: #ececec;}

#person ul{
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #f4f4f4;}


/*Content*/
.content-wrapper {
    margin: 4.65em 0 0 14.5em;
    padding: 1%;
    position: static;}

/*--header with numbers--*/
.content-header{
    margin: auto;
    margin-top: 2%;
    position: relative;
    text-align: center;}

.header-block{
    display: inline-block;
    width: 14.5%;
    color: #000;
    vertical-align: top;
    text-align: left;}

.name-date-header{
    width: auto;
    margin-right: 2em;
    text-align: center;}

.name-date-header>h1{
    margin: 4%;}

.vertical-line{
    display: inline-block;
    background-color: #000;
    width: 2px;
    height: 6em;} /*header with numbers end*/



/*--sub header with datepicker and compare to-functioanlity--*/
.subHeaderDate{
    display: inline-block;
    width: 90%;
    margin: 5% 5% 0.5% 5%;
    padding: 0;
    background: none;}

.subHeader{
    display: inline-block;
    color: #000;
    margin-top: 0;}

#datepickerInput{
    height: 1.8em;
    width: 14.05em;
    text-align: center;
    display: inline-block;
    margin: 0;
    float: right;
    line-height: 0.7em;
    border: solid 1px #bababa;}

#datepickerInput:hover,
#datepickerInput:active{
    border: solid 1px #1178bd;
    cursor: pointer;
}

#datepickerInput:disabled{
    cursor: auto;
    border: solid 1px #bababa;
    background-color: #ebebe4;
    color: #bababa;
}

/*Checkbox styling from https://kyusuf.com/post/completely-css-custom-checkbox-radio-buttons-and-select-boxes*/
#date-checkbox-div{
    text-align: right;
    display: inline-block;
    float: right;}

.compareToLabel {
    position: relative;
    cursor: pointer;
    padding-left: 0.3em;
    top: 2.5px;}

#compareToInput {
    opacity: 0;}

.compareTo-checkDiv {
    position: absolute;
    top: 2.5px;
    left: 0;
    width: 18px;
    height: 18px;
    background: #ffffff;
    border: solid 1px #bababa;;}

/* Hover and focus states */
.compareToLabel:hover input ~ .compareTo-checkDiv,
.compareToLabel input:focus ~ .compareTo-checkDiv{
    background: #fff;
    border: solid 1px #1178bd;}

/* Checked state */
.compareToLabel input:checked ~ .compareTo-checkDiv,
.compareToLabel input:checked:focus ~ .compareTo-checkDiv{
    background: #1178bd;
    border: solid 2px #1178bd;}

/* Disabled state */
.compareToLabel input:disabled ~ .compareTo-checkDiv{
    cursor: auto;
    border: solid 1px #bababa;
    background-color: #ebebe4;
    color: #bababa;
}

/* Check mark */
.compareTo-checkDiv:after {
    position: absolute;
    display: none;
    content: '';}

/* Show check mark */
.compareToLabel input:checked ~ .compareTo-checkDiv:after {
    display: block;}

/* Checkbox tick */
.compareTo-checkbox .compareTo-checkDiv:after {
    left: 4.5px;
    width: 6px;
    height: 12px;
    transform: rotate(45deg);
    border: solid #fff;
    border-width: 0 2px 2px 0;} /*Checkbox end*/ /*Subheader end*/


/*Accordion with table + sort and search functionality*/
/*accordion wrapper*/
#accordion-wrapper{
    display: inline-block;
    background-color: #fff;
    width: 90%;
    border-radius: 0px;
    margin: 0 5% 0 5%;
    border-top: solid 3px #bababa;
    border-bottom: solid 1px #bababa;} /*wrapper end*/

/*sort and search*/
#sortSearch-accordionDiv{
    width: 100%;
    margin: 0;
    padding: 1%;
    background: none;
    border-left: solid 1px #bababa;
    border-right: solid 1px #bababa;}

#sortPagesBy{
    display: inline-block;
    height: 1.8em;
    width: 25%;
    border: solid 1px #bababa;}

#sortPagesBy:hover{
    cursor: pointer;
    border: solid 1px #1178bd;
}

#sortPagesBy:disabled{
    cursor: auto;
    border: solid 1px #bababa;
    background-color: #ebebe4;
    color: #bababa;
}


#searchLink{
    display: inline-block;
    height: 1.8em;
    float: right;
    width: 45%;
    border: solid 1px #bababa;} /*sort and search end*/

/*Limit of pages shown in accordion*/
#showPagesDiv{
    width: 100%;
    margin: 0;
    padding: 1%;
    background: none;
    text-align: right;
    border-left: solid 1px #bababa;
    border-top: solid 1px #bababa;
    border-right: solid 1px #bababa;
    display: inline-block;}

#showPages{
    height: 1.8em;
    text-align: center;
    border: solid 1px #bababa;}

#showPages:hover{
    cursor: pointer;
    border: solid 1px #1178bd;}

#showPages:disabled{
    cursor: auto;
    border: solid 1px #bababa;
    background-color: #ebebe4;
    color: #bababa;}/*Limit of pages shown end*/

/*accordion with table*/
#accordion{
    width: 100%;
    display: inline-block;
    margin: 0;
    border: solid 1px #554f4f;}

/*accordion header*/
#accordion .ui-accordion-header{
    border: none;
    margin: 0;
    height: 4.5em;
    margin-bottom: 2px;}

#accordion .ui-accordion-header-icon{
    float: right;
    vertical-align: top;
    margin-top: 1.1em;}

.accordionNumberSpan{
    width: 5%;
    display: inline-block;
    font-size: 25px;
    text-align: left;
    margin-left: 1.5%;}

.accordionLink{
    display: inline-block;
    vertical-align: top;
    margin-top: 1em;
    text-align: left;
    width: 50%;}

.smilyIcon{
    display:inline-block;
    font-size: 35px;
    width: 15%;
    text-align: center;
    margin-top: 0.25em;}

.accordionUniquePageviews{
    display: inline-block;
    vertical-align: top;
    margin-top: 1em;
    margin-right: 1.5%;
    text-align: left;
    width: 25%;
    float: right;}

.accordionUniquePageviews p{
    margin: 0;
}

.pageviewsPCompareTo{
    color: #f59fa7;} /*accordion header end*/

/*accordion content/table*/
#accordion .ui-accordion-content{
    border: none;}


.table tbody td,
.table thead th {
    text-align: right;}

.table>thead>tr>.actualCompareTo,
.table>tbody>tr>.actualCompareTo{
    text-align: left;}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
    padding: 0.3em;
}

.table>thead>tr>th {
    border-bottom: 2px solid #554f4f;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: 1px solid #bababa;
}


/*Trend Div*/
.trendMinimized{
    display: inline-block;
    background-color: #cff2f8;
    border: solid 1px #bababa;
    width: 6em;
    height: 2em;
    margin-top: 0.3em;
    transition: opacity 1.5s;
    opacity: 100;}

.trendMinimized:hover{
    cursor: pointer;
}

.trendMaximized{
    background-color: #cff2f8;
    border: solid 1px #bababa;
    width: 50%;
    height: 350px;
    position: fixed;
    left: 27%;
    right: 23%;
    top: 30%;}

.trendExit{
    background: none;
    position: relative;
    left: 96%;
    top: 3%;}

.trendExit:hover{
    cursor: pointer;}

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
    opacity: .65;
    filter:Alpha(Opacity=65); /* support: IE8 */
    background-image: none;} /*accordion content end*/ /*accordion end*/


/*.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus {
    border: 1px solid #cccccc;
    background: #8094DD;
    font-weight: normal;
    color: #ffffff;
}*/







